@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,600&display=swap");

.header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Imbue", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  background: -webkit-linear-gradient(140deg, #ff3162, #ff5c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
